<!DOCTYPE html>
<html>
<head>
<link type="image/png" rel="icon" href="https://media-exp1.licdn.com/dms/image/C4E0BAQE6lQtEKdA5dw/company-logo_200_200/0?e=2159024400&v=beta&t=UeYB5MUD2arx7SRkE4rd9FU-2dMIJAq83Ne8RonjrwE">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet" href="../static/css/styleArt.css"> -->

<title>Upperline Meme</title>
<!-- edit import style sheet for respective pages -->
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>

<div class="topnav navbar-dark bg-primary">
  <a  href="homePage">Home</a>
  <a href="profilePage">Profile</a>
  <a href="discussionPage">Discussion</a>
  <a href="resourcesPage">Resources</a>
  <a class="active" href=art_Meme> UpperLine Art & Memes</a>
  <a href="welcomePage">Sign Out</a>
</div>


<body>

<div class = "container-fluid">
    <div class = "row text-center">
        <div class = "col">
        <h1>Welcome to Upperline Art, Memes and Rick Rolling!</h1>
        <h3> Here you can find Arts and Memes during our time together!!</h3>
        </div>
        <br>
    </div>
    <br>

    <div class="container-fluid">
        <div class="row mb-2 " >
                   <div class="col-md-6 mb-2 ">
            <div class = "row justify-content-center ">
        <h2> Add To The Upperline Collection</h2>
        </div>
        <form method="post" class="modal-content animate" action="/artPage" >
            <div class = "row justify-content-center"> <br><br>
                <div class ="col-12"><br>
            <label for="art_description"><b>Image Description</b></label>
            <input class="form-control mr-sm-2" type="text" placeholder="Enter A Brief Description of the Image" name="art_description">
                </div>
            </div><br>
                <div class = "row justify-content-center">
            <div class ="col-9">
            <label for="art_link"><b>Image Address Link</b></label>
            <!-- <input class="form-control mr-sm-2" type="file" name="art_link"/> -->

            <input class="form-control mr-sm-2" type="url" placeholder="Enter Image Link" name="art_link">
            <br></div>
                <div class ="col-3"><br>
            <button type="submit">Add To  Collection</button>
                </div><br>
            </div>
        </form>
        </div>
        
            <div class="col-md-6  row justify-content-center">
        <img class = "mb-5" src="https://files.slack.com/files-pri/T015TDL95UY-F017MP1S9DZ/whiteboard_2_-01.png" alt="Art" width= "100%" height="auto">
            </div>
            <br>
        </div>

    <div class="row mb-2">
            <div class="col-md-6  row justify-content-center">
        <img class = "mb-5" src="https://files.slack.com/files-pri/T015TDL95UY-F017MP1NABV/whiteboard_1_-01.png" alt="Art" width= "100%" height="auto" >
            </div>
            <br>
            <div class="col-md-6  row justify-content-center">
        <img class = "mb-5" src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fi.imgflip.com%2F4936cj.jpg" alt="Art" width= "100%" height="auto" >
            </div>         
    </div>

         {% for item in artsData %} 
    <div class="row mb-2">
        
            <div class="col-md-6  row justify-content-center">
        <img class = "mb-5" src= {{item["art_link"]}} alt="Art Image" width= "100%" height="auto">
        <h3>  {{ item["art_description"] }} </h3>
            </div>
            <br>
            <!-- <div class="col-md-6  row justify-content-center">
        <img class = "mb-5" src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fi.imgflip.com%2F4936cj.jpg" alt="Art" width= "100%" height="auto" >
            </div>         -->
    </div>
        {% endfor %} 

<!-- layout, want to use for loop so that will just atore pictures in database -->
        <!-- <div class="row">
        <div class="col-md-6">.col-md-6</div>
        <div class="col-md-6">.col-md-6</div>
        </div> -->
 
    </div>

</div>
</body>
</html>
