<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/css/styleHome.css">
<!-- edit import style sheet for respective pages -->
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>

<div class="topnav">
  <a class="active" href="homePage">Home</a>
  <a href="profilePage">Profile</a>
  <a href="discussionPage">Discussion</a>
  <a href="resourcesPage">Resources</a>
  <a href="welcomePage">Sign Out</a>
</div>


<div class = "container" >

    <div class ="row text-center">
        <div class ="col" >
            <h2>You can find Updates and Annuncements on this Page</h2>
            <p>Some content..</p>
        </div>
    </div>
  
  <!-- bootstrap homepage layout? -->

</div>
</body>
</html>