<!DOCTYPE html>
<html>
<head>
<link type="image/png" rel="icon" href="https://media-exp1.licdn.com/dms/image/C4E0BAQE6lQtEKdA5dw/company-logo_200_200/0?e=2159024400&v=beta&t=UeYB5MUD2arx7SRkE4rd9FU-2dMIJAq83Ne8RonjrwE">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/css/styleHome.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title>Alumni Network</title>
<!-- edit import style sheet for respective pages -->
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>

<div class="topnav navbar-dark bg-primary">
  <a class="active" href="homePage">Home</a>
  <a href="profilePage">Profile</a>
  <a href="discussionPage">Discussion</a>
  <a href="resourcesPage">Resources</a>
  <a href=art_Meme> UpperLine Art & Memes</a>
  <a href="welcomePage">Sign Out</a>
</div>

<br>
<div class = "container" >
    <div class ="row text-center">
        <div class ="col" >
    <h2>You can find Updates and Annuncements on this Page</h2>
        </div>
    </div>
    <hr>
</div>
  <!-- bootstrap homepage layout? -->
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav mb-5">
      <!-- TROUBLESHOOT how to fix link -->
      {% for item in updatesData %}
      <p><a href= {{ item["update_link"] }} > {{ item["update_heading"] }} </a></p>
      {% endfor %}
    </div>
    <br>
    <div class="col-sm-8 text-justify  "> 
        <div class ="col-12 ">
            <div class = "row justify-content-center">
            <div class = 'row'>
        <h2> <a href="/addUpdate"> Add An Update </a> </h2>
            </div>
        </div>
        </div>
            <hr>

        {% for announcement in updatesData%}
        <div class ="row ">
            <div class ="col-12 ">
        <h1> <b> {{ announcement.update_heading }}</b> by {{ announcement.update_messenger }} </h1> 
            </div>
            <div class ="col-12">
        <p> {{ announcement.update_text }}</p>
            </div>
        </div><hr>
        {% endfor %}

</div>
        
    <div class="col-sm-2 sidenav">
        <br>
        {% for item in adsData %}
    <div class="well">
        <img src= {{item["advertisementImage"]}} width="100%">
    </div><br>
        {% endfor %}
      <br>
    <h4> <a href="/addAds"> Advertise your content </a> </h4>
  </div>
  
  </div>
</div>

<!-- <hr> -->
<!-- <div class="row container-fluid text-center">
  <p>Footer Text</p>
</div> -->

</body>
</html>