<!DOCTYPE html>
<!-- link source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_signup_form_modal -->
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/css/styleSignUp.css">
</head>
<body>

<h2>Upperline Alumni Sign Up</h2>

<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Sign Up</button>

<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content" action="/homePage.html", method = "post">
    <div class="container">
      <h1>Sign Up</h1> 
      <hr>
    <label for="name"><b>Name</b></label>
    <input type="text" placeholder="Enter Name" name="user_name" required>

    <label for="interest"><b>Interest</b></label>
    <input type="text" placeholder="Enter Your Interest" name="user_interest" required>

    <label for="education"><b>Education</b></label>
    <input type="text" placeholder="Enter School Last Attended" name="user_education" required>

    <label for="headline"><b>Headline</b></label>
    <input type="text" placeholder="Enter Current Role ex)Student or Actuary" name="user_headline" required>

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
      
      <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
      </label>

      <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Sign Up</button>
      </div>
    </div>
  </form>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>
</html>
